@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://websfont.github.io/nanumSquareNeo/nanumSquareNeo.css");
@import url("https://websfont.github.io/gmarket/gmarket.css");
@import url("https://websfont.github.io/websfont/websfont.css");
@import url("https://websfont.github.io/oneMobileTitle/oneMobileTitle.css");
@import url("https://websfont.github.io/haeparang/haeparang.css");


@font-face {
    font-family: 'Ryhmes Display';
    src: url('../fonts/Rhymes/RyhmesDisplay-Thin.woff2') format('woff2'),
        url('../fonts/Rhymes/RyhmesDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ryhmes Display';
    src: url('../fonts/Rhymes/RyhmesDisplay-UltraLight.woff2') format('woff2'),
        url('../fonts/Rhymes/RyhmesDisplay-UltraLight.woff2') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Selecta';
    src: url('../fonts/selecta/Selecta-Light.woff2') format('woff2'),
        url('../fonts/selecta/Selecta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Selecta';
    src: url('../fonts/selecta/Selecta-Medium.woff2') format('woff2'),
        url('../fonts/selecta/Selecta-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Selecta';
    src: url('../fonts/selecta/Selecta-Regular.woff2') format('woff2'),
        url('../fonts/selecta/Selecta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}